
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}



    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <section class="bg-light py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-black">
                    <h1>About Us</h1>
                    <p>
                    Welcome to JewelBox!

                    At JewelBox, we believe in the power of jewelry to tell unique stories and create cherished memories. We are passionate about crafting exquisite pieces that reflect your individuality and style.

                    Our journey began with a vision to bring exceptional craftsmanship and timeless elegance to the world of jewelry. With a team of skilled artisans and designers, we meticulously create each piece with attention to detail and a deep appreciation for the beauty of fine jewelry.

                    Our mission is to provide you with jewelry that not only enhances your personal style but also becomes a symbol of your most treasured moments. Whether it's a sparkling engagement ring, a delicate necklace, or a statement bracelet, our collection is thoughtfully curated to offer a wide range of designs to suit every occasion.

                    At JewelBox, we are committed to using only the finest materials, from dazzling diamonds to lustrous gemstones, ensuring that each piece stands the test of time. We take pride in our commitment to quality and strive to exceed your expectations with every creation.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="~/assets/img/2.png" alt="About Hero" >
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->
    <!-- Start Section -->
    