@using System.Globalization;
@model IEnumerable<Jewelry.Models.ItemDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>



<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  @*  <ol class="carousel-indicators" >
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active" style="color: #ffc107!important;"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1" style="color: #ffc107!important;"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2" style="color: #ffc107!important;"></li>
    </ol>*@
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/assets/img/1.png" alt="" style="margin-bottom:20.5%;margin-top:20.5%;">
                    </div>
                    <div class="col-lg-6 mb-0  d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1" style="color:#000!important;font-family:Ledger"><b>JewelBox</b> <br>Timeless Glamour</h1>
                            <h3 class="h2">Stunning silver earring set</h3>
                            <p>
                                Discover the allure of our stunning silver earring set—a captivating blend of elegance and charm. Adorn your ears with shimmering sophistication, as each handcrafted piece accentuates your unique style with effortless grace. Unleash the radiance of silver, and let your beauty shine.
             
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/assets/img/2.png" alt="" style="margin-bottom:17.5%;margin-top:17.5%;">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1" style="color:#000!important;font-family:Ledger"><b>JewelBox</b> <br>Unforgettable Elegance</h1>
                            <h3 class="h2">Dazzling diamond ring</h3>
                            <p>
                                Indulge in pure enchantment with our dazzling diamond ring. Immerse yourself in the brilliance of a flawless diamond, expertly set in a gleaming band, radiating elegance at every angle. Elevate your style and ignite a spark of admiration with this exquisite symbol of grace and sophistication.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/assets/img/R.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1" style="color:#000!important;font-family:Ledger"><b>JewelBox</b> <br>Enduring Beauty</h1>
                            <h3 class="h2">Necklace ring—a fusion </h3>
                            <p>
                                Adorn your neckline with our mesmerizing necklace ring—a fusion of elegance and charm. Delicately crafted, its intricate design showcases a radiant centerpiece, gracefully suspended from a graceful chain. Embrace the enchantment and make a statement with this captivating accessory that exudes grace and captures attention with every sway.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left" style="color: #ffc107!important;"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right" style="color: #ffc107!important;"></i>
    </a>
</div>
<!-- End Banner Hero -->
<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories of The Month</h1>
            <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a asp-controller="user" asp-action="shop"><img src="~/assets/img/image1xxl-1.jpg" class="rounded-circle img-fluid border" width="500px" height="500px"></a>
            <h5 class="text-center mt-3 mb-3">Bracelets</h5>
            <p class="text-center"><a class="btn btn-warning" asp-controller="user" asp-action="shop">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a asp-controller="user" asp-action="shop"><img src="~/assets/img/image1xxl-116.jpg" class="rounded-circle img-fluid border" width="500px" height="500px"></a>
            <h2 class="h5 text-center mt-3 mb-3">Ring</h2>
            <p class="text-center"><a class="btn btn-warning" asp-controller="user" asp-action="shop">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a asp-controller="user" asp-action="shop"><img src="~/assets/img/image1xxl-19.jpg" class="rounded-circle img-fluid border" width="500px" height="500px"></a>
            <h2 class="h5 text-center mt-3 mb-3">Necklace</h2>
            <p class="text-center"><a class="btn btn-warning" asp-controller="user" asp-action="shop">Go Shop</a></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->
<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Take(3))
            {
            <div class="col-12 col-md-4 mb-4">
                
                <div class="card h-100">
                        <a asp-route-id="@item.ItemMstID" asp-action="singleshop" asp-controller="user">
                        <img src="@item.imgUrl" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                                <li class="text-muted text-right">@item.MRP.ToString("C", new CultureInfo("en-US"))</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">@item.prodName</a>
                        <p class="card-text">
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
<!-- End Featured Product -->

