
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}


<h1 style="color:#ffc107!important;margin-top:10%;margin-bottom:10%;text-align:center">Thank You for Shopping!</h1>


